<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitegg.mall.user.mapper.UserBalanceRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gitegg.mall.user.entity.UserBalanceRecord">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="type" property="type" />
        <result column="amount" property="amount" />
        <result column="comments" property="comments" />
        <result column="tenant_id" property="tenantId" />
        <result column="create_time" property="createTime" />
        <result column="creator" property="creator" />
        <result column="update_time" property="updateTime" />
        <result column="operator" property="operator" />
        <result column="del_flag" property="delFlag" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, type, amount, comments, tenant_id, create_time, creator, update_time, operator, del_flag
    </sql>

    <!-- 分页查询列表 -->
    <select id="queryUserBalanceRecordList" resultType="com.gitegg.mall.user.dto.UserBalanceRecordDTO" parameterType="com.gitegg.mall.user.dto.QueryUserBalanceRecordDTO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_mall_user_balance_record
        WHERE del_flag = 0
        <if test="userBalanceRecord.id != null and userBalanceRecord.id != ''">
            AND id = #{userBalanceRecord.id}
        </if>
        <if test="userBalanceRecord.startDateTime != null and userBalanceRecord.startDateTime != ''">
            AND DATE_FORMAT(create_time,'%Y-%m-%d %H:%M:%S') &gt;= DATE_FORMAT(#{userBalanceRecord.startDateTime},'%Y-%m-%d %H:%M:%S')
        </if>
        <if test="userBalanceRecord.endDateTime != null and userBalanceRecord.endDateTime != ''">
            AND DATE_FORMAT(create_time,'%Y-%m-%d %H:%M:%S') &lt;= DATE_FORMAT(#{userBalanceRecord.endDateTime},'%Y-%m-%d %H:%M:%S')
        </if>
        ORDER BY id DESC
    </select>

    <!-- 查询信息 -->
    <select id="queryUserBalanceRecord" resultType="com.gitegg.mall.user.dto.UserBalanceRecordDTO" parameterType="com.gitegg.mall.user.dto.QueryUserBalanceRecordDTO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_mall_user_balance_record
        WHERE del_flag = 0
        <if test="userBalanceRecord.id != null and userBalanceRecord.id != ''">
            AND id = #{userBalanceRecord.id}
        </if>
        <if test="userBalanceRecord.startDateTime != null and userBalanceRecord.startDateTime != ''">
            AND DATE_FORMAT(create_time,'%Y-%m-%d %H:%M:%S') &gt;= DATE_FORMAT(#{userBalanceRecord.startDateTime},'%Y-%m-%d %H:%M:%S')
        </if>
        <if test="userBalanceRecord.endDateTime != null and userBalanceRecord.endDateTime != ''">
            AND DATE_FORMAT(create_time,'%Y-%m-%d %H:%M:%S') &lt;= DATE_FORMAT(#{userBalanceRecord.endDateTime},'%Y-%m-%d %H:%M:%S')
        </if>
        ORDER BY id DESC
    </select>

</mapper>
