<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitegg.mall.user.mapper.UserAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gitegg.mall.user.entity.UserAccount">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="integral" property="integral" />
        <result column="balance" property="balance" />
        <result column="account_status" property="accountStatus" />
        <result column="comments" property="comments" />
        <result column="tenant_id" property="tenantId" />
        <result column="create_time" property="createTime" />
        <result column="creator" property="creator" />
        <result column="update_time" property="updateTime" />
        <result column="operator" property="operator" />
        <result column="del_flag" property="delFlag" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, integral, balance, account_status, comments, tenant_id, create_time, creator, update_time, operator, del_flag
    </sql>

    <!-- 分页查询用户账户表列表 -->
    <select id="queryUserAccountList" resultType="com.gitegg.mall.user.dto.UserAccountDTO" parameterType="com.gitegg.mall.user.dto.QueryUserAccountDTO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_mall_user_account
        WHERE del_flag = 0
        <if test="userAccount.id != null and userAccount.id != ''">
            AND id = #{userAccount.id}
        </if>
        <if test="userAccount.startDateTime != null and userAccount.startDateTime != ''">
            AND DATE_FORMAT(create_time,'%Y-%m-%d %H:%M:%S') &gt;= DATE_FORMAT(#{userAccount.startDateTime},'%Y-%m-%d %H:%M:%S')
        </if>
        <if test="userAccount.endDateTime != null and userAccount.endDateTime != ''">
            AND DATE_FORMAT(create_time,'%Y-%m-%d %H:%M:%S') &lt;= DATE_FORMAT(#{userAccount.endDateTime},'%Y-%m-%d %H:%M:%S')
        </if>
        ORDER BY id DESC
    </select>

    <!-- 查询用户账户表信息 -->
    <select id="queryUserAccount" resultType="com.gitegg.mall.user.dto.UserAccountDTO" parameterType="com.gitegg.mall.user.dto.QueryUserAccountDTO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_mall_user_account
        WHERE del_flag = 0
        <if test="userAccount.id != null and userAccount.id != ''">
            AND id = #{userAccount.id}
        </if>
        <if test="userAccount.userId != null and userAccount.userId != ''">
            AND user_id = #{userAccount.userId}
        </if>
        <if test="userAccount.startDateTime != null and userAccount.startDateTime != ''">
            AND DATE_FORMAT(create_time,'%Y-%m-%d %H:%M:%S') &gt;= DATE_FORMAT(#{userAccount.startDateTime},'%Y-%m-%d %H:%M:%S')
        </if>
        <if test="userAccount.endDateTime != null and userAccount.endDateTime != ''">
            AND DATE_FORMAT(create_time,'%Y-%m-%d %H:%M:%S') &lt;= DATE_FORMAT(#{userAccount.endDateTime},'%Y-%m-%d %H:%M:%S')
        </if>
        ORDER BY id DESC
    </select>

    <!--扣减账户余额-->
    <update id="deductionById">
        update t_mall_user_account set balance = (balance - #{amountOfMoney}), update_time = now(), operator = #{id} where id = #{id}
    </update>

</mapper>
