<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitegg.code.generator.validate.mapper.ValidateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gitegg.code.generator.validate.entity.Validate">
        <id column="id" property="id" />
        <result column="validate_name" property="validateName" />
        <result column="validate_regular" property="validateRegular" />
        <result column="status" property="status" />
        <result column="comments" property="comments" />
        <result column="tenant_id" property="tenantId" />
        <result column="create_time" property="createTime" />
        <result column="creator" property="creator" />
        <result column="update_time" property="updateTime" />
        <result column="operator" property="operator" />
        <result column="del_flag" property="delFlag" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, validate_name, validate_regular, status, comments, tenant_id, create_time, creator, update_time, operator, del_flag
    </sql>

    <!-- 分页查询字段校验规则配置表列表 -->
    <select id="queryValidateList" resultType="com.gitegg.code.generator.validate.dto.ValidateDTO" parameterType="com.gitegg.code.generator.validate.dto.QueryValidateDTO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_sys_code_generator_validate
        WHERE del_flag = 0
        <if test="validate.validateName != null and validate.validateName != ''">
            AND validate_name like concat('%', #{validate.validateName}, '%')
        </if>
        <if test="validate.status != null">
            AND status = #{validate.status}
        </if>
        <if test="validate.beginDateTime != null and validate.beginDateTime != ''">
            AND DATE_FORMAT(create_time,'%Y-%m-%d %H:%M:%S') &gt;= DATE_FORMAT(#{validate.beginDateTime},'%Y-%m-%d %H:%M:%S')
        </if>
        <if test="validate.endDateTime != null and validate.endDateTime != ''">
            AND DATE_FORMAT(create_time,'%Y-%m-%d %H:%M:%S') &lt;= DATE_FORMAT(#{validate.endDateTime},'%Y-%m-%d %H:%M:%S')
        </if>
        ORDER BY id DESC
    </select>
    <!-- 查询字段校验规则配置表信息 -->
    <select id="queryValidate" resultType="com.gitegg.code.generator.validate.dto.ValidateDTO" parameterType="com.gitegg.code.generator.validate.dto.QueryValidateDTO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_sys_code_generator_validate
        WHERE del_flag = 0
        <if test="validate.validateName != null and validate.validateName != ''">
            AND validate_name like concat('%', #{validate.validateName}, '%')
        </if>
        <if test="validate.status != null">
            AND status = #{validate.status}
        </if>
        <if test="validate.beginDateTime != null and validate.beginDateTime != ''">
            AND DATE_FORMAT(create_time,'%Y-%m-%d %H:%M:%S') &gt;= DATE_FORMAT(#{validate.beginDateTime},'%Y-%m-%d %H:%M:%S')
        </if>
        <if test="validate.endDateTime != null and validate.endDateTime != ''">
            AND DATE_FORMAT(create_time,'%Y-%m-%d %H:%M:%S') &lt;= DATE_FORMAT(#{validate.endDateTime},'%Y-%m-%d %H:%M:%S')
        </if>
        ORDER BY id DESC
    </select>
</mapper>
