# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/GitEgg-Platform/gitegg-platform-cloud/target
/GitEgg-Platform/gitegg-platform-cloud/gitegg-platform-cloud.iml
/GitEgg-Cloud/gitegg-gateway/target
/GitEgg-Cloud/gitegg-oauth/target
/GitEgg-Cloud/gitegg-plugin/gitegg-code-generator/target
/GitEgg-Platform/gitegg-platform-dev/gitegg-platform-dev.iml
/GitEgg-Platform/gitegg-platform-dev/target
/GitEgg-Platform/gitegg-platform-redis/target
/GitEgg-Platform/gitegg-platform-redis/gitegg-platform-redis.iml
/GitEgg-Cloud/gitegg-plugin/gitegg-code-generator/gitegg-code-generator.iml
/GitEgg-Cloud/gitegg-service/gitegg-service-base/target
/GitEgg-Platform/gitegg-platform-cache/target
/GitEgg-Platform/gitegg-platform-cache/gitegg-platform-cache.iml
/GitEgg-Platform/gitegg-platform-oauth2/target
/GitEgg-Platform/gitegg-platform-oauth2/gitegg-platform-oauth2.iml
/GitEgg-Platform/gitegg-platform-pay/target
/GitEgg-Platform/gitegg-platform-pay/gitegg-platform-pay.iml
/GitEgg-Platform/gitegg-platform-sms/target
/GitEgg-Platform/gitegg-platform-sms/gitegg-platform-sms.iml
/GitEgg-Platform/gitegg-platform-wechat/target
/GitEgg-Platform/gitegg-platform-wechat/gitegg-platform-wechat.iml
/GitEgg-Platform/gitegg-platform-base/target
/GitEgg-Platform/gitegg-platform-base/gitegg-platform-base.iml
/GitEgg-Platform/gitegg-platform-captcha/target
/GitEgg-Platform/gitegg-platform-captcha/gitegg-platform-captcha.iml
/GitEgg-Cloud/gitegg-service/gitegg-service-extension/gitegg-service-extension.iml
/GitEgg-Cloud/gitegg-service/gitegg-service-extension/target
/GitEgg-Cloud/gitegg-service-api/gitegg-service-extension-api/gitegg-service-extension-api.iml
/GitEgg-Cloud/gitegg-service-api/gitegg-service-extension-api/target
/GitEgg-Cloud/gitegg-gateway/target
/GitEgg-Cloud/gitegg-oauth/target
/GitEgg-Cloud/gitegg-service/gitegg-service-base/target
/GitEgg-Cloud/gitegg-plugin/gitegg-code-generator/gitegg-code-generator.iml
/GitEgg-Platform/gitegg-platform-sms/gitegg-platform-sms.iml
/GitEgg-Platform/gitegg-platform-sms/target
/GitEgg-Platform/gitegg-platform-sms-aliyun/gitegg-platform-sms-aliyun.iml
/GitEgg-Platform/gitegg-platform-sms-aliyun/target
/GitEgg-Platform/gitegg-platform-sms-baidu/gitegg-platform-sms-baidu.iml
/GitEgg-Platform/gitegg-platform-sms-baidu/target
/GitEgg-Platform/gitegg-platform-sms-huawei/gitegg-platform-sms-huawei.iml
/GitEgg-Platform/gitegg-platform-sms-huawei/target
/GitEgg-Platform/gitegg-platform-sms-jd/gitegg-platform-sms-jd.iml
/GitEgg-Platform/gitegg-platform-sms-jd/target
/GitEgg-Platform/gitegg-platform-sms-jpush/gitegg-platform-sms-jpush.iml
/GitEgg-Platform/gitegg-platform-sms-jpush/target
/GitEgg-Platform/gitegg-platform-sms-qiniu/gitegg-platform-sms-qiniu.iml
/GitEgg-Platform/gitegg-platform-sms-qiniu/target
/GitEgg-Platform/gitegg-platform-sms-starter/gitegg-platform-sms-starter.iml
/GitEgg-Platform/gitegg-platform-sms-starter/target
/GitEgg-Platform/gitegg-platform-sms-tencent/gitegg-platform-sms-tencent.iml
/GitEgg-Platform/gitegg-platform-sms-tencent/target
/GitEgg-Platform/gitegg-platform-captcha/gitegg-platform-captcha.iml
/GitEgg-Platform/gitegg-platform-captcha/target
/GitEgg-Platform/gitegg-platform-cache/gitegg-platform-cache.iml
/GitEgg-Platform/gitegg-platform-cache/target
/GitEgg-Platform/gitegg-platform-oauth2/gitegg-platform-oauth2.iml
/GitEgg-Platform/gitegg-platform-oauth2/target
/GitEgg-Platform/gitegg-platform-pay/target
/GitEgg-Platform/gitegg-platform-pay/gitegg-platform-pay.iml
/GitEgg-Platform/gitegg-platform-base/gitegg-platform-base.iml
/GitEgg-Platform/gitegg-platform-base/target
/GitEgg-Platform/gitegg-platform-wechat/gitegg-platform-wechat.iml
/GitEgg-Platform/gitegg-platform-wechat/target
/GitEgg-Platform/gitegg-platform-dev/target
/GitEgg-Platform/gitegg-platform-redis/target
/GitEgg-Cloud/gitegg-mall/gitegg-mall.iml
/GitEgg-Cloud/gitegg-mall/gitegg-mall-goods/gitegg-mall-goods.iml
/GitEgg-Cloud/gitegg-mall/gitegg-mall-goods/target
/GitEgg-Cloud/gitegg-mall/gitegg-mall-order/gitegg-mall-order.iml
/GitEgg-Cloud/gitegg-mall/gitegg-mall-order/target
/GitEgg-Cloud/gitegg-mall/gitegg-mall-pay/gitegg-mall-pay.iml
/GitEgg-Cloud/gitegg-mall/gitegg-mall-pay/target
/GitEgg-Cloud/gitegg-mall/gitegg-mall-user/target
/GitEgg-Cloud/gitegg-mall/gitegg-mall-user/gitegg-mall-user.iml
/GitEgg-Cloud/gitegg-mall/gitegg-mall-goods/target
/GitEgg-Cloud/gitegg-service-client/gitegg-service-client.iml
/GitEgg-Cloud/gitegg-service-client/gitegg-service-extension-client/target
/GitEgg-Cloud/gitegg-service-client/gitegg-service-extension-client/gitegg-service-extension-client.iml
/GitEgg-Cloud/gitegg-service-client/gitegg-service-system-client/target
/GitEgg-Cloud/gitegg-service-client/gitegg-service-system-client/gitegg-service-system-client.iml
/GitEgg-Platform/gitegg-platform-dev/gitegg-platform-dev.iml
