# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea
/gitegg-platform-db/target
/gitegg-platform-mybatis/target
/gitegg-platform-bom/gitegg-platform-bom.iml
/gitegg-platform-boot/target
/gitegg-platform-boot/gitegg-platform-boot.iml
/gitegg-platform-db/*.iml
/gitegg-platform-db/*
/gitegg-platform-mybatis/gitegg-platform-mybatis.iml
/gitegg-platform-mybatis/target
/gitegg-platform-swagger/gitegg-platform-swagger.iml
/gitegg-platform-swagger/target
/GitEgg-Platform.iml
