<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitegg.code.generator.config.mapper.ConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gitegg.code.generator.config.entity.Config">
        <id column="id" property="id" />
        <result column="datasource_id" property="datasourceId" />
        <result column="module_name" property="moduleName" />
        <result column="module_code" property="moduleCode" />
        <result column="service_name" property="serviceName" />
        <result column="table_name" property="tableName" />
        <result column="table_alias" property="tableAlias" />
        <result column="table_prefix" property="tablePrefix" />
        <result column="parent_package" property="parentPackage" />
        <result column="controller_path" property="controllerPath" />
        <result column="form_type" property="formType" />
        <result column="table_type" property="tableType" />
        <result column="table_show_type" property="tableShowType" />
        <result column="form_item_col" property="formItemCol" />
        <result column="left_tree_type" property="leftTreeType" />
        <result column="front_code_path" property="frontCodePath" />
        <result column="service_code_path" property="serviceCodePath" />
        <result column="import_flag" property="importFlag" />
        <result column="export_flag" property="exportFlag" />
        <result column="query_reuse" property="queryReuse" />
        <result column="tenant_id" property="tenantId" />
        <result column="create_time" property="createTime" />
        <result column="creator" property="creator" />
        <result column="update_time" property="updateTime" />
        <result column="operator" property="operator" />
        <result column="del_flag" property="delFlag" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, datasource_id, module_name, module_code, service_name, table_name, table_alias, table_prefix, parent_package, controller_path, form_type, table_type, table_show_type, form_item_col, left_tree_type, front_code_path, service_code_path, import_flag, export_flag, query_reuse, tenant_id, create_time, creator, update_time, operator, del_flag
    </sql>

    <!-- 通用查询结果列 Config -->
    <sql id="Base_Column_List_Config">
        config.id, config.datasource_id, config.module_name, config.module_code, config.service_name, config.table_name, config.table_alias, config.table_prefix, config.parent_package, config.controller_path, config.form_type, config.table_type, config.table_show_type, config.form_item_col, config.left_tree_type, config.front_code_path, config.service_code_path, config.import_flag, config.export_flag, config.query_reuse, config.tenant_id, config.create_time, config.creator, config.update_time, config.operator, config.del_flag
    </sql>

    <!-- 分页查询代码生成配置表列表 -->
    <select id="queryConfigList" resultType="com.gitegg.code.generator.config.dto.ConfigDTO" parameterType="com.gitegg.code.generator.config.dto.QueryConfigDTO">
        SELECT
        <include refid="Base_Column_List_Config"/>,
        datasource.datasource_name
        FROM t_sys_code_generator_config config
        LEFT JOIN t_sys_code_generator_datasource datasource on config.datasource_id = datasource.id and datasource.del_flag = 0
        WHERE config.del_flag = 0
        <if test="config.id != null and config.id != ''">
            AND config.id = #{config.id}
        </if>
        <if test="config.startDateTime != null and config.startDateTime != ''">
            AND DATE_FORMAT(config.create_time,'%Y-%m-%d %H:%M:%S') &gt;= DATE_FORMAT(#{config.startDateTime},'%Y-%m-%d %H:%M:%S')
        </if>
        <if test="config.endDateTime != null and config.endDateTime != ''">
            AND DATE_FORMAT(config.create_time,'%Y-%m-%d %H:%M:%S') &lt;= DATE_FORMAT(#{config.endDateTime},'%Y-%m-%d %H:%M:%S')
        </if>
        ORDER BY config.id DESC
    </select>

    <!-- 查询代码生成配置表信息 -->
    <select id="queryConfig" resultType="com.gitegg.code.generator.config.dto.ConfigDTO" parameterType="com.gitegg.code.generator.config.dto.QueryConfigDTO">
        SELECT
        <include refid="Base_Column_List_Config"/>,
        datasource.datasource_name
        FROM t_sys_code_generator_config config
        LEFT JOIN t_sys_code_generator_datasource datasource on config.datasource_id = datasource.id and datasource.del_flag = 0
        WHERE config.del_flag = 0
        <if test="config.id != null and config.id != ''">
            AND config.id = #{config.id}
        </if>
        <if test="config.startDateTime != null and config.startDateTime != ''">
            AND DATE_FORMAT(config.create_time,'%Y-%m-%d %H:%M:%S') &gt;= DATE_FORMAT(#{config.startDateTime},'%Y-%m-%d %H:%M:%S')
        </if>
        <if test="config.endDateTime != null and config.endDateTime != ''">
            AND DATE_FORMAT(config.create_time,'%Y-%m-%d %H:%M:%S') &lt;= DATE_FORMAT(#{config.endDateTime},'%Y-%m-%d %H:%M:%S')
        </if>
        ORDER BY config.id DESC
    </select>

</mapper>
