# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea
/*.iml
/gitegg-common/gitegg-common.iml
/gitegg-gateway/gitegg-gateway.iml
/gitegg-oauth/gitegg-oauth.iml
/gitegg-plugin/gitegg-plugin.iml
/gitegg-service/gitegg-service.iml
/gitegg-service/gitegg-service-base/gitegg-service-base.iml
/gitegg-service/gitegg-service-bigdata/gitegg-service-bigdata.iml
/gitegg-service/gitegg-service-system/target
/gitegg-service/gitegg-service-system/gitegg-service-system.iml
/gitegg-service/gitegg-service.iml
/gitegg-service-api/gitegg-service-api.iml
/gitegg-service-api/gitegg-service-base-api/gitegg-service-base-api.iml
/gitegg-service-api/gitegg-service-bigdata-api/gitegg-service-bigdata-api.iml
/gitegg-service-api/gitegg-service-system-api/gitegg-service-system-api.iml
/gitegg-oauth/target
/gitegg-gateway/target
/gitegg-plugin/gitegg-code-generator/target
/gitegg-plugin/gitegg-code-generator/gitegg-code-generator.iml
/gitegg-service/gitegg-service-base/target
/gitegg-service/gitegg-service-base/gitegg-service-base.iml
/gitegg-service/gitegg-service-extension/target
/gitegg-service/gitegg-service-extension/gitegg-service-extension.iml
/gitegg-service-client/gitegg-service-client.iml
/gitegg-service-client/gitegg-service-base-client/gitegg-service-base-client.iml
/gitegg-service-client/gitegg-service-bigdata-client/gitegg-service-bigdata-client.iml
/gitegg-service-client/gitegg-service-extension-client/target
/gitegg-service-client/gitegg-service-extension-client/gitegg-service-extension-client.iml
/gitegg-service-client/gitegg-service-system-client/target
/gitegg-service-client/gitegg-service-system-client/gitegg-service-system-client.iml
/gitegg-common/target
/gitegg-service-client/gitegg-service-base-client/target
/gitegg-service-client/gitegg-service-bigdata-client/target
/gitegg-service/gitegg-service-bigdata/target
