<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitegg.service.system.mapper.DataPermissionUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gitegg.service.system.entity.DataPermissionUser">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="organization_id" property="organizationId" />
        <result column="status" property="status" />
        <result column="tenant_id" property="tenantId" />
        <result column="create_time" property="createTime" />
        <result column="creator" property="creator" />
        <result column="update_time" property="updateTime" />
        <result column="operator" property="operator" />
        <result column="del_flag" property="delFlag" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, organization_id, status, tenant_id, create_time, creator, update_time, operator, del_flag
    </sql>

    <!-- 分页查询列表 -->
    <select id="queryDataPermissionUserList" resultType="com.gitegg.service.system.dto.DataPermissionUserDTO" parameterType="com.gitegg.service.system.dto.QueryDataPermissionUserDTO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_sys_data_permission_user
        WHERE del_flag = 0
        <if test="dataPermissionUser.id != null and dataPermissionUser.id != ''">
            AND id = #{dataPermissionUser.id}
        </if>
        <if test="dataPermissionUser.startDateTime != null and dataPermissionUser.startDateTime != ''">
            AND DATE_FORMAT(create_time,'%Y-%m-%d %H:%M:%S') &gt;= DATE_FORMAT(#{dataPermissionUser.startDateTime},'%Y-%m-%d %H:%M:%S')
        </if>
        <if test="dataPermissionUser.endDateTime != null and dataPermissionUser.endDateTime != ''">
            AND DATE_FORMAT(create_time,'%Y-%m-%d %H:%M:%S') &lt;= DATE_FORMAT(#{dataPermissionUser.endDateTime},'%Y-%m-%d %H:%M:%S')
        </if>
        ORDER BY id DESC
    </select>

    <!-- 查询信息 -->
    <select id="queryDataPermissionUser" resultType="com.gitegg.service.system.dto.DataPermissionUserDTO" parameterType="com.gitegg.service.system.dto.QueryDataPermissionUserDTO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_sys_data_permission_user
        WHERE del_flag = 0
        <if test="dataPermissionUser.id != null and dataPermissionUser.id != ''">
            AND id = #{dataPermissionUser.id}
        </if>
        <if test="dataPermissionUser.startDateTime != null and dataPermissionUser.startDateTime != ''">
            AND DATE_FORMAT(create_time,'%Y-%m-%d %H:%M:%S') &gt;= DATE_FORMAT(#{dataPermissionUser.startDateTime},'%Y-%m-%d %H:%M:%S')
        </if>
        <if test="dataPermissionUser.endDateTime != null and dataPermissionUser.endDateTime != ''">
            AND DATE_FORMAT(create_time,'%Y-%m-%d %H:%M:%S') &lt;= DATE_FORMAT(#{dataPermissionUser.endDateTime},'%Y-%m-%d %H:%M:%S')
        </if>
        ORDER BY id DESC
    </select>

    <!-- 分页查询机构权限下的用户列表 -->
    <select id="selectOrganizationUserList" resultType="com.gitegg.service.system.entity.UserInfo" parameterType="com.gitegg.service.system.entity.User">
        SELECT DISTINCT
        dataPermission.id AS id,
        sysUser.tenant_id AS tenantId,
        sysUser.account AS account,
        sysUser.nickname AS nickname,
        sysUser.real_name AS realName,
        sysUser.gender AS gender,
        sysUser.email AS email,
        sysUser.mobile AS mobile,
        sysUser.password AS password,
        sysUser.status AS status,
        sysUser.avatar AS avatar,
        sysUser.country AS country,
        sysUser.province AS province,
        provinceDistrict.name AS provinceName,
        sysUser.city AS city,
        cityDistrict.name AS cityName,
        sysUser.area AS area,
        sysUser.street AS street,
        sysUser.comments AS comments,
        sysUser.create_time AS createTime,
        sysUser.creator AS creator,
        sysUser.update_time AS updateTime,
        sysUser.operator AS operator,
        GROUP_CONCAT(DISTINCT sysRole.id) AS roleIds,
        GROUP_CONCAT(DISTINCT sysRole.role_key) AS roleKey,
        GROUP_CONCAT(DISTINCT sysRole.role_name) AS roleName,
        dataPermission.organization_id AS dataPermission,
        sysOrganization.id AS organizationId,
        sysOrganization.organization_name AS organizationName
        FROM t_sys_data_permission_user dataPermission
        INNER JOIN t_sys_user sysUser ON sysUser.id = dataPermission.user_id
        INNER JOIN t_sys_user_role userRole ON sysUser.id = userRole.user_id AND userRole.del_flag = 0
        LEFT JOIN t_sys_role sysRole ON userRole.role_id = sysRole.id AND sysRole.del_flag = 0
        LEFT JOIN t_sys_district provinceDistrict ON sysUser.province = provinceDistrict.code
        LEFT JOIN t_sys_district cityDistrict ON sysUser.city = cityDistrict.code
        INNER JOIN t_sys_organization_user organizationUser ON sysUser.id = organizationUser.user_id AND
        organizationUser.del_flag = 0
        INNER JOIN t_sys_organization sysOrganization ON organizationUser.organization_id = sysOrganization.id AND
        sysOrganization.del_flag = 0
        WHERE sysUser.del_flag = 0 AND dataPermission.del_flag = 0
        <if test="user.id != null and user.id != ''">
            AND sysUser.id = #{user.id}
        </if>
        <trim prefix="AND (" suffix=")" prefixOverrides="AND">
            <if test="user.account != null and user.account != ''">
                AND sysUser.account like concat('%', #{user.account}, '%')
            </if>
            <if test="user.nickname != null and user.nickname != ''">
                AND sysUser.nickname like concat('%', #{user.nickname}, '%')
            </if>
            <if test="user.realName != null and user.realName != ''">
                AND sysUser.real_name like concat('%', #{user.realName}, '%')
            </if>
            <if test="user.mobile != null and user.mobile != ''">
                AND sysUser.mobile like concat('%', #{user.mobile}, '%')
            </if>
            <if test="user.email != null and user.email != ''">
                AND sysUser.email like concat('%', #{user.email}, '%')
            </if>
            <if test="user.status != null and user.status != ''">
                AND sysUser.status = #{user.status}
            </if>
            <if test="user.roleId != null and user.roleId != ''">
                <!--这里需要这么写，否则多角色用户再通过角色查询时，只能查询出一个角色-->
                AND sysUser.id IN (SELECT sysUser.id FROM t_sys_user sysUser INNER JOIN t_sys_user_role userRole ON
                sysUser.id = userRole.user_id AND userRole.del_flag = 0 AND userRole.role_id = #{user.roleId})
            </if>
            <if test="user.organizationId != null and user.organizationId != ''">
                AND dataPermission.organization_id = #{user.organizationId}
            </if>
            <if test="user.startDateTime != null and user.startDateTime != ''">
                AND DATE_FORMAT(sysUser.create_time,'%Y-%m-%d') &gt;= DATE_FORMAT(#{user.startDateTime},'%Y-%m-%d')
            </if>
            <if test="user.endDateTime != null and user.endDateTime != ''">
                AND DATE_FORMAT(sysUser.create_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{user.endDateTime},'%Y-%m-%d')
            </if>
        </trim>
        GROUP BY sysUser.id
        ORDER BY sysUser.create_time DESC
    </select>

</mapper>
