<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitegg.service.system.mapper.OrganizationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gitegg.service.system.entity.Organization">
        <id column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="parent_id" property="parentId"/>
        <result column="ancestors" property="ancestors"/>
        <result column="organization_type" property="organizationType"/>
        <result column="organization_name" property="organizationName"/>
        <result column="organization_key" property="organizationKey"/>
        <result column="organization_icon" property="organizationIcon"/>
        <result column="organization_level" property="organizationLevel"/>
        <result column="organization_status" property="organizationStatus"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="area" property="area"/>
        <result column="street" property="street"/>
        <result column="comments" property="comments"/>
        <result column="create_time" property="createTime"/>
        <result column="creator" property="creator"/>
        <result column="update_time" property="updateTime"/>
        <result column="operator" property="operator"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenant_id, parent_id, ancestors, organization_type, organization_name, organization_key, organization_icon, organization_level, organization_status, province, city, area, street, comments, create_time, creator, update_time, operator, del_flag
    </sql>

    <!-- 通过parentId查询所有子机构 -->
    <select id="selectOrganizationChildren" resultType="com.gitegg.service.system.entity.Organization" parameterType="com.gitegg.service.system.entity.Organization">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_sys_organization
        WHERE del_flag = 0
        <if test="org.organizationType != null and org.organizationType != ''">
            AND organization_type = #{org.organizationType}
        </if>
        <if test="org.organizationKey != null and org.organizationKey != ''">
            AND organization_key = #{org.organizationKey}
        </if>
        <if test="org.organizationName != null and org.organizationName != ''">
            AND organization_name = #{org.organizationName}
        </if>
        <if test="org.organizationStatus != null and org.organizationStatus != ''">
            AND organization_status = #{org.organizationStatus}
        </if>
        <if test="org.organizationLevel != null and org.organizationLevel != ''">
            AND organization_level = #{org.organizationLevel}
        </if>
        <if test="org.parentId != null and org.parentId != ''">
            <choose>
                <!-- 仅查询子机构，不包含parentId机构本身 -->
                <when test="org.isLeaf != null and org.isLeaf == '1'.toString()">
                    AND find_in_set(#{org.parentId}, ancestors)
                </when>
                <!-- 查询子机构，包含parentId机构本身 -->
                <otherwise>
                    AND (id = #{org.parentId} OR find_in_set(#{org.parentId}, ancestors))
                </otherwise>
            </choose>
        </if>
        ORDER BY id desc
    </select>

    <!-- 级联查询树 -->
    <select id="selectOrganizationList" resultType="com.gitegg.service.system.entity.Organization" parameterType="com.gitegg.service.system.entity.Organization">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_sys_organization
        WHERE del_flag = 0
        <if test="org.organizationType != null and org.organizationType != ''">
            AND organization_type = #{org.organizationType}
        </if>
        <if test="org.organizationKey != null and org.organizationKey != ''">
            AND organization_key = #{org.organizationKey}
        </if>
        <if test="org.organizationName != null and org.organizationName != ''">
            AND organization_name = #{org.organizationName}
        </if>
        <if test="org.organizationStatus != null and org.organizationStatus != ''">
            AND organization_status = #{org.organizationStatus}
        </if>
        <if test="org.organizationLevel != null and org.organizationLevel != ''">
            AND organization_level = #{org.organizationLevel}
        </if>
        <if test="org.parentId != null">
            AND parent_id = #{org.parentId}
        </if>
        ORDER BY id desc
    </select>

</mapper>
