<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gitegg.service.system.mapper.SystemTableMapper" >

    <select id="list" resultType="com.gitegg.service.system.entity.SystemTable">
        select * from system_table
    </select>

    <select id="page" resultType="com.gitegg.service.system.entity.SystemTable">
        select * from system_table
    </select>
</mapper>